<h1>Editing report</h1>

<%= render "form", report: @report %>

<br>

<!--
<div class="d-grid gap-2">
  <%= link_to "Show this report", @report %>
  <%= link_to "Back to reports", reports_path %>
</div>
-->